@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

body {
  font-family: 'Playfair Display SC', serif;
  font-weight: 600;
  display: none
}

p {
  font-size: 20px;
  font-family: 'Cinzel', sans-serif;
}

img {
  margin: 5px;
}

/* Navbar */
.landing {
  padding-top: 50px;
}

.navbar {
  padding: 0 2rem 25px;
}

/* .navbar-nav li a {
  color: black;
} */

.nav-item {
  padding-right: 20px;
}



a, .navbar {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 3rem;
}

/* Landing Page */


.cta {
  padding: 0 50px;
  transform: translateY(65px);
}



.landing-text {
  color: black;
  text-align: center;
  margin-top: 50px;
}

.landing-text-l {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}

.landing-text-r {
  text-align: center;
  padding-bottom: 20px;
  font-size: 18px;
}


/* Information Section */

.info {
  padding: 100px 100px 100px;
  background-color: #ededed;
}

.info-header {
  font-size: 3rem;
}

.left-info {
  text-align: left;
  padding-right: 100px;
}

.img {
  width: inherit;
}

.cta {
  text-align: center;
}

.spotlight-photo {
  padding-bottom: 30px;
  width: 100%;
}

/* Location Info */

.oakland {
  padding: 50px 100px 100px;
}

#map {
  height: 420px;
  width: 100%;
}

/* Gallery */

.gallery {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ededed;
}

.flex-column {
  max-width: 450px;
}

.gal-img {
  transition: transform .4s;
}

.gal-img:hover {
  transform: scale(1.35);
}

/* .gallery-mob {
  display: none;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

} */

.contact-us {
  background-color: #ededed;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.con-tit {
  margin: auto 0;
}

.number {
  font-size: 3rem;
}

/* Footer */
.cl {
  padding: 10px 0 0 0;
  font-size: 20px;
  text-align: center;
}

.cred p{
  text-align: right;
  font-size: 12px;
}

/* Resizing Options */

@media (max-width: 1300px) {
  .flex-column {
    max-width: 300px;
  }
}

@media (max-width: 1028px) {
  .flex-column {
    max-width: 300px;
  }

  .navbar-brand {
    font-size: 60px;
  }

  p {
    font-size: 30px;
    text-align: justify;
    font-weight: 600;
  }
  /* landing */

  .nav-link {
    font-size: 50px !important;
  }

  /* info */
  .left-info {
    text-align: center;
    padding-right: 0;
  }

  .info-header {
    font-size: 4rem;
  }

  .con-tit {
    margin: auto 0;
    padding-bottom: 30px;
  }
}
