body {
  font-family: 'Cinzel', serif;
}

img {
  margin: 5px;
}

/* Navbar */
.navbar {
  padding: 1.5rem 3rem 0;
}

.nav-item {
  padding-right: 35px;
}

a, .navbar {
  font-size: 1.5rem;
}

.navbar-brand {
  font-size: 3rem;
}

/* Landing Page */
.landing {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../images/bg-placehold.jpg");
  height: 900px;
  /* image centers as you resize */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* end image centers as you resize */
}

.landing-text {
  color: white;
  text-align: center;
  margin-top: 250px;
}

h1, .landing-text {
  padding-bottom: 50px;
  font-size: 4.5rem;
}

h2, .landing-text {
  font-size: 2rem;
}

.cta-contact {
  text-align: center;
  color: white;
  font-size: 1.3rem;
}

/* Information Section */

.info {
  padding: 50px 100px 100px;
}

.info-header {
  font-size: 3.75rem;
}

.left-info {
  text-align: left;
  padding-right: 100px;
}

.img {
  width: inherit;
}

/* Location Info */

.oakland {
  padding: 50px 100px 100px;
}

#map {
  height: 400px;
  width: 100%;
}

/* Gallery */
.flex-column {
  max-width: 450px;
}




/* Resizing Options */

@media (max-width: 1300px) {
  .flex-column {
    max-width: 300px;
  }
}

@media (max-width: 1028px) {
  .flex-column {
    max-width: 300px;
  }

  p {
    font-size: 30px;
  }
  /* landing */
  .landing-text {
    margin-top: 180px;
  }

  /* info */
  .left-info {
    text-align: center;
    padding-right: 0;
  }
}
